/* PasswordForm.css */

.PasswordFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .PasswordForm {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  .PasswordForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .PasswordForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .PasswordForm button {
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .PasswordForm button:hover {
    background-color: var(--bold-color);
  }
  